.place-photo {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.members {
    list-style: none;
    margin: 0;
    position: relative;
    padding: 1em;
    width: 100%;
    height: 80%;
    overflow: auto;
}

.members .member {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-content {
    display: flex;
    flex-direction: column;
}

.comment-content .comment-info {

    display: flex;
    justify-content: space-between;
}

.comment-content .comment-info > div {
    display: flex;
}

.comments {
    list-style: none;
    margin: 0;
    position: relative;
    padding: 1em 0 1em 2em;
    width: 100%;
    height: 80%;
    overflow: auto;
}

.comment-form {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.comment-form .comment-input {
    width: 70%;
    border: none;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    padding: 10px 0;
    border-bottom: 1px solid #181818;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.comment-form .comment-input:focus {
    border-bottom: 2px solid #181818;
}

.comment-form-row {
    display: flex;
    background-color: #f3f3f3;
    padding: 1em 1em 15px;
    border-radius: 8px;
}

.comment-section {
    background: white;
    max-height: 65vh;
    margin: 15px;
    padding: 1em;
}

.squad-info .info .box {
    max-height: 33vh;
    overflow: auto;
}

.squad-info > .container-fluid {
    /*max-height: 90vh;*/
}

.squad-info .controls > div {
    display: flex;
    justify-content: flex-end;
}

.squad-info .controls {
    font-size: 18px;
    color: #a2a8ae;
}

.squad-info .controls {
    background: white;
    margin: 0 15px;
    padding: 15px;
    width: 100%;
}

.squad-info .creator .user-photo {
    width: 3em;
    height: 3em;
    object-fit: cover;
}

.creator-contact li {
    display: flex;
    justify-content: left;
    align-items: center;
}

.creator-contact li h6 {
    margin: 0;
}

.creator-contact li p {
    margin: 0.5em;
}

.squad-info .comment-form .user-photo {
    width: 2em;
    height: 2em;
    object-fit: cover;
}

.squad-info .user-photo {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
}

.squad-info {
    color: #313437;
    background-color: #eef4f7;
    margin: 2em 0;
}

.squad-info p {
    color: #7d8285;
}

.squad-info h2 {
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 20px;
    color: inherit;
}

.squad-info .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.squad-info .intro p {
    margin-bottom: 0;
}

.squad-info .squads {
    padding: 20px 5px 10px 5px
}

.squad-info .squad {
    max-height: 50%;
    overflow: auto;
}

.squad-info .squad > .box {
    display: flex;
    flex-direction: column;
}

.squad-info .box {
    text-align: center;
}

.squad-info .item {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
}

.squad-info .item .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
}

.squad-info .item .sport {
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px;
}

.squad-info .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.remove-comment {
    width: 2em;
    height: 2em;
    padding: 0;
}